.side-by-side code {
  font-size: 70%;
}

.side-by-side .left,
.side-by-side .right {
  float: left;
  width: 50%;
}

.side-by-side {
  clear: both;
}

.clearfix {
  clear: both;
}

.reveal pre code {
  line-height: 1.5em;
}
